.bookingsection {
    display: flex;
    flex-direction: row;
    margin-top: -100px;
    position: relative;
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 -10px 80px -4px rgba(0, 0, 0, 0.1);
}

article {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 24px 24px 24px;
}

.productimage {
    border-radius: 0.25rem;
    width: 100%;
    height: auto;
    max-height: 24rem;
    object-fit: cover;
  }
  
  .productprice {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .productprice span {
    font-size: 1rem;
    font-weight: 600;
    color: #0D0D0D;
  }

  .productdescription {
    padding-bottom: 32px;
  }
  
  @media (max-width: 1099px) {
    .bookingsection {
      flex-direction: column;
    }
    article {
    padding: 24px 0px;
    }
  }