.formsection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: solid 2px var(--border-color);
}

.errorMessage {
    color: var(--error-color);;
    font-weight: 500;
    height: 2rem;
    padding: 0;
    font-size: 14px;
}

@media screen and (max-width: 750px) {
    form {
        width: 350px;
    }
  }