.formsection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-top: -100px;
    position: relative;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 -10px 80px -4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
}