select {
    padding: 0.5rem;
    color: #0000EE;
    border: none;
    background-color: #efefef;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
}

select:hover {
    color: #0202c9;
}

.filterSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 30rem;
}

.filters {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.removeButton {
    padding: 0.5rem;
    border: none;
    color: #0000EE;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.removeButton:hover{
    color: #0202c9;
}

label {
    font-weight: 600;
    font-size: 1rem;
}