select {
    padding: 0.5rem;
    color: var(--primary-color);
    border: none;
    background-color: var(--background-color-2);;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
}

select:hover {
    color: #0D0D0D;
}

.filterSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.filters {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.removeButton {
    padding: 0.5rem;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.removeButton:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

label {
    font-weight: 600;
    font-size: 1rem;
}