.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
}

.card {
  background-color: var(--background-color);
  border-radius: 0.25rem;
  width: 100%;
  max-width: 30rem;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardimage {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
  height: auto;
  max-height: 24rem;
  object-fit: cover;
}

.cardprice {
  font-size: 1.25rem;
  font-weight: 600;
}

.cardprice span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.carddescription {
  padding: 0 1rem ;
}

.cardtitle {
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
}

.card div {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

@media screen and (max-width: 2000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1279px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
}