nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100; 
}

.toggle-button {
    background-color: #ffffff;
    border: none;
    display: none;
    overflow: hidden;
    height: 2rem;
    cursor: pointer;
}

.toggle-button span {
    width: 2rem;
    height: 0.25rem;
    background-color: #0D0D0D;
    border-radius: 4rem;
    transition: 0.5s;
}

.toggle-button span:nth-child(1) {
    width: 1.5rem;
}

.toggle-button.active span:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
    width: 2rem;
    background-color: #D9310B;
}

.toggle-button span:nth-child(2) {
    width: 2rem;
    background-color: #D9310B;
}

.toggle-button.active span:nth-child(2) {
    transform: translateY(0rem) rotate(315deg);
}

.toggle-button span:nth-child(3) {
    width: 1.5rem;
}

.toggle-button.active span:nth-child(3) {
    transform: translateX(24rem);
}

.logo {
    font-size: 1.25rem;
    font-weight: 600;
    color: #0D0D0D;
    text-decoration: none;
}

.navlist-open {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-align: flex-start;
    justify-content: flex-end;
    margin: 0;
}

.navlist-close {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-align: flex-start;
    justify-content: flex-end;
    margin: 0;
}

@media screen and (max-width: 750px) {    
    .navlist-open {
        display: flex;
        gap: 2rem;
    }

    .navlist-close {
        display: none;
    }

    .nav-close {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
    }
    .nav-open {
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;
    }
    ul {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }
    .toggle-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
    }
}
